
.body50{
    background-image:url('https://images7.alphacoders.com/135/1351186.png');
    color: #ffffff;
    width: 170vw;
    height: 180vh;
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


*{
    margin: 0;
  }

.text h1{
    align-items: center;
    margin-left: 580px;
    margin-top: 80px;
    color: white;
}

.text h2{
    align-items: center;
    margin-left: 580px;
    margin-top: 80px;
}


.mb h4{
    color: white;
}

.mb button{
    width: 500px;
    height: 80px;
}

.text .mb{
    align-items: center;
    margin-left: 580px;
    width: 500; 
}
