  .container{
    height: 100vh;
    background-color: whitesmoke;
    
  }

  *{
    margin: 0;
  }

  .Topo{
    background-image: url("../res/image.png");
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .Topo .Input{
    padding-left: 15%;
  }


  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    
  }

  .buttons .buttonPesquisa{
    display: flex;
    margin-bottom: 200px;
    margin-right: 0px;
    cursor: pointer;
    border-radius: 10px;
    
    
  }


  .buttons .buttonPesquisa button{
    border-radius: 10px;
    cursor: pointer;
    border: 50px;
    padding: 10px;
    right: 0;
    
  }

  .buttons .buttonsExtras{
    padding: 50px;
    border-radius: 10px;
    display: flex;
    right: 0;
  }

  .buttons .buttonsExtras button{
    border-radius: 100px;
    cursor: pointer; 
    display: flex;
    margin: 5px;
    justify-content: center;
    
  } 

  .buttonsCatalogo {
    padding:15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
  }

  .buttonsCatalogo button{
    cursor: pointer;
  }
  .buttonsCatalogo .card button{
    margin-top: 130px;
  }
  


  .buttonsCatalogo .b h3{
    margin-top: 35px;
    background-image: ("https://imgs.search.brave.com/Lst_65qVlcCYJqQ8jfbtqrTt99hUDtvrxKvUJOalrW8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9leHRl/cm5hbC1wcmV2aWV3/LnJlZGQuaXQvUlBX/YUtsRlMwUmV1NVI0/eW5yN09iQVlubFJO/eHctb3hRRlU5c2lO/MGpZby5wbmc_d2lk/dGg9NjQwJmNyb3A9/c21hcnQmYXV0bz13/ZWJwJnM9MmVlNjRl/YzAwZGI4N2UwMjA5/MmZmNGJlMjEyODFk/NDc4MTM3NjkzZQ");
  }

  .buttonsCatalogo .c h2{
    margin-top: 35px
  }

  .buttonsCatalogo .d h2{
    margin-top: 35px
  }

  .buttonsCatalogo .card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 15%;
  }

  .jogos{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 100px;
  }


  .jogos .card{
    display: inline-table;  
    justify-content: left;
    align-items: left;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    box-shadow: 15%;
    
  }

  .linha{
    background-image: url("../res/image.png");
    margin-top: 4px;
    color: purple;

  }

  .linha h1{
    display: flex;
    margin-left: 100px;
    justify-content: center;
    color: white;
  }

