.body01{
    background-image:url('https://images7.alphacoders.com/135/1351186.png');
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.produto h1{
    display: flex;
    justify-content: center;
   
}

h1 h2{
    justify-content: center;
}


.buttonadicionar button{
    width: 100px;
    height: 45px;
    background-color: purple;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: none;  
    border-color: gray;  
}

.buttonfinalizar button{
    width: 100px;
    height: 45px;
    background-color: purple;
    border: none;
    outline: none;
    box-shadow: 10 10 10px rgba(230, 12, 12, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: none;
    border-color: gray    
}

.formaP{
    justify-content: center ;
    align-items: center;
}