.body01{
    background-image:url('https://images7.alphacoders.com/135/1351186.png');
    color: #ffffff;
    width: 150vw;
    height: 150vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    align-items: center;
    padding-left: 200px;
}

.produto h1{
    display: flex;
    justify-content: center;
   
}

.FormaP h1{
    margin-right: 1500px;
    margin-top: 40px;
}

.FormaP h1 h2{
    justify-content: center;
}

button{
    margin-top: 55px;

}
.buttonadicionar button{
    width: 100px;
    height: 45px;
    background-color: purple;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: none;  
    border-color: gray;  
}

.buttonfinalizar button{
    width: 100px;
    height: 45px;
    background-color: purple;
    border: none;
    outline: none;
    box-shadow: 10 10 10px rgba(230, 12, 12, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: none;
    border-color: gray;
    width: 200px;
}

.formaP{
    justify-content: center ;
    align-items: center;
}