.Topo{
  background-image: url("./res/image.png");
  width: 2000px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}

.Topo .Input{
  padding-left: 15%;
}


.buttons{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .buttonPesquisa button{
  border-radius: 10px;
  cursor: pointer;
}

.buttons .buttonsExtras{
  padding: 50px;
  position: fixed ;
  right: 0;
}