
button{
    color: white;
    background-color: purple;
    display: flex;
    width: 140px;
    height: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 10px;
    border-color: gray;
    justify-content: center;
    align-items: center;
}
