*{
  margin: 0;
}

.jogo{
  display: flex;
    justify-content: center;
    gap: 100px;
    margin: 100px;
}

.jogos .p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 4px;
}

.jogo .P h2{
  margin-right: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jogo-img{
  background-color: red;
  width: 300px;
  height: 300px;
  border: 20px;
  box-shadow: 15px;
}







