*{
    margin: 0;
    
  }

  .jogo{
    display: flex;
      justify-content: center;
      gap: 100px;
      margin: 100px;
  }

  .jogos .P {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
  }


  .jogo .P h1{
    margin-right: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    
  }

  .jogo .P h2{
    margin-right: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;

  }

  .jogos .P h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: inline-flex;
  }

  .jogo-img{
    background-color: purple;
    width: 420px;
    height: 450px;
    border: 20px;
    box-shadow: 15px;
    border: 5px solid;
    border-color: purple;
  }

  
  .button2{
    display:flex;
    width: 140.5;
    height: 21;
  }

  .button3{
    display:flex;
    width: 140.5;
    height: 21;
  }